.simplelineicons-demo .item-box {
    display: inline-block;
    font-size: 16px;
    margin: 0 -.22em 1em 0;
    padding-left: 1em;
    width: 100%;
}
@media only screen and (min-width: 768px){
  .simplelineicons-demo .item-box {
      width: 25%;
  }
}

.simplelineicons-demo .item-box .item {
    background-color: #fff;
    color: #33383e;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s all;
}
.simplelineicons-demo .item-box .item:hover,
.simplelineicons-demo .item-box .item:focus{
    background:#3598dc!important;
    color: #fff;
    border-radius: 2px !important;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);
    transition: 0.5s all;
}
.simplelineicons-demo .item-box .item span {
    font-size: 16px;
}